<br>
<div class="container">
    <h2 class="text-center"> Enter Location</h2>
    <form class="location-form">
        <input type="text" placeholder="Search for location" autocorrect="off" autocapitalize="off" spellcheck="off" #search [formControl]="searchControl"
            class="form-control">
        <br>
        <button (click)="onSubmit()" type="button" class=" btn btn-primary btn-block ">Submit</button>
    </form>
</div>


<hr>
<br>
<br>
<div class="row ">
    <div class="col-md-3 card ">
        <div  *ngFor="let storeElement of stores;let i=index">{{storeElement.name}}
            <ul class="list-group" *ngFor="let branch of storeElement.branches">
                <li  class="list-group-item" >{{branch.location}}</li>
                <!-- <li  >{{branch.name}}</li> -->
            </ul>
        </div>
    </div>
    <div class="col-md-9 ">
        <agm-map [latitude]="latitude " [longitude]="longitude " [zoom]="zoom " (mapClick)="onMapClick($event) ">
            <agm-marker  *ngIf="locationChosen " [latitude]="latitude " [longitude]="longitude ">
                <agm-info-window></agm-info-window>
            </agm-marker>
        </agm-map>
    </div>
</div>

